%body
  = render partial: 'layouts/header'
  = render partial: 'layouts/side-container'
  = render partial: 'layouts/group-container'
  .messages
    = render @messages
  .form-container
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form-container__message', placeholder: '　type a message'
      = f.label :image, class: 'form-container__image' do
        = fa_icon 'image', class: 'icon'
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form-container__btn'