%body
  = render partial: 'layouts/header'
  = render partial: 'layouts/side-container'
  .group-container
    %p.group-container__name test-group
    =link_to "#", class: "group-container__edit-btn" do
      %p Edit
    %p.group-container__member Member: test
  .messages-container
    .messages-container__message--first
      %p.messages-container__name test-user
      %p.messages-container__timestump 2019/08/08(Thu) 18:04:52
      %p.messages-container__user-message ハロー！
    .messages-container__message
      %p.messages-container__name test2-user
      %p.messages-container__timestump 2019/08/08(Thu) 18:04:52
      %p.messages-container__user-message こんにちは！
  .form-container
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form-container__message', placeholder: '　type a message'
      = f.label :image, class: 'form-container__image' do
        = fa_icon 'image', class: 'icon'
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form-container__btn'